/* Reset CSS */
/* *: Tất cả các thẻ bao gồm cả thẻ ko có chữ*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-family: tác động tất cả các thẻ có chữ */
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* COMMON */
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.mt-8{
    margin-bottom: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}
.pull-right{
    float: right !important;
}
.btn{
    background-color: #000;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border: none;    
} 


.btn:hover{   
    color: #000;
    background-color: #ccc;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content:"";
    display: block;
    clear:both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.333333%;
}

.col-haft{
    width: 50%;
}
.col-full{
    width: 100%;
}

/* QUICK ACTION: 
    - Xác định điểm chung của các đối đượng được chọn: "id="
    - Ctrl + Shift + L: chọn all id
    - > : di chuột tới all id name và thoát khỏi phần selected cũ
    - Alt + Shift+ > : chọn các id name and copy 
    - chọn 1 id name được paste, giữ Alt và di chuyển con trỏ đến vị trí cần thêm loạt các kí tự. 
    - Alt + Shift+ >: di chuyển chuột đến cuối id name 
    - > để thoát khỏi id name selected
 */

/* LOGIC DỰNG WEB
    - Từ ngoài vào trong
    - Từ trên xuống dưới
    - Tổng quan đến chi tiết
 */

 /* LƯU Ý KHI THIẾT LẬP GIAO DIỆN CHO 1 WEB
 
    1. Vị trí
    2. Kích thước(with, hight)
    3. Màu sắc
    4. Kiểu dáng (kiểu chữ...) 
 */
#main{
    overflow: hidden; /* Bỏ các khoảng chắn khi có đối tượng nào chui ra khỏi thẻ cha khi thay đổi màn hình */
}

 #header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 1;
    /* overflow: hidden; */
}
#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}


/* CSS cho thẻ con trực tiếp  */
#nav > li > a {
    color: white;
    text-transform: uppercase;
    line-height: 46px;
}


/* CSS cho tất cả các thẻ con các cấp */
#nav li a{
    text-decoration: none;
    padding: 0 24px;
    display: inline-block;

    
}
 /* Di vào thẻ li:hover thì hiện con .subnav
 sẽ css cho thằng subnav con của li < #nav trong TH hover vào đúng thằng li */
#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover{
    color: black;
    background-color: #ccc;

}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    min-width: 160px; /* Xét chiều ngang tối thiểu */
}

#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-dowm{
    font-size: 14px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
}


#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 20px;
   
} 


#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer; /* Thay đổi hình dạng thay đổi con trỏ chuột */
} 

#header .mobile-menu-btn:hover{
    background-color: #ccc;
    color: #000;
} 

#header .mobile-menu-btn:hover .menu-icon{
    background-color: #ccc;
    color: #000;

} 


#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}



#slider{
    position: relative;
    margin-top: 27px; /* để back-round slider ko cover header */
    padding-top: 50%; /* Kích thước của chiều cao luôn bằng 50% chiều rộng*/
    background: url('/assets/img/slider/chicago.jpg') top center / cover no-repeat;

}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%);*/ /* lấy giữa của text để lấy left:50% */
    width: 100%; /*Cách căn giữ dễ hơn */
    text-align: center; /* Căn giữa text */

}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin: 25px 0;
}


 /* #content{

 } */

 #content .content-section{
    width: 800px;
    max-width: 100%;   /* trong màn hình lớn hơn 800px thì vẫn thể hiện content fullweb ko bị có khoảng chắn*/ 
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

 }

 #content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px; /*làm chữ cách xa nhau*/
    text-align: center;
 }

 #content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin-top: 25px;
 }

 #content .about-text{
    text-align: justify;
    font-size: 15px;  
    margin-top: 25px;
    line-height: 1.4; /*Tiếng anh 1.4 còn tiếng việt là 1.6*/
 }


 #content .member-list{ 
    text-align: center;
    padding-top: 48px;
    
 }


 #content .member-img{ 
    font: 15px;
 }

 #content .member-img{ 
    border-radius: 4px;
    width: 154px;
    margin-top: 15px;
 }

 #content .tour-section{
    background-color: black; 
 }


 #content .tickets-list{
    background-color: #fff;
    width: 766px;
    margin-top: 40px;
 }                                                                                                                                                                                                                      

 #content .tickets-list li{
    padding: 8px 16px;
    line-height: 16px;
    border-bottom: 1px solid #ddd;
 }

 #content .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
 }
 #content .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height:  24px;
    margin-top: -3px;
 }

 /* PLACES */
 .place-list{
    /* margin: 32px -8px 0; */
    margin-top: 32px;
    margin-bottom: 0;

 }
 

.place-img{
    width: 100%;
    display: block;    /* Sửa display để biến mất khối màu đen ở giữa thẻ img và place body */
}

.place-img:hover{
    opacity: 0.6;
} 

.place-body{
    background-color:#fff ;
    padding: 16px;
    height: 205px;
    font-size: 15px;
    
}

/* .place-heading{
    margin-top: 8px; 
} */

.place-time{
margin-top: 15px;
color: #636262;   

}

.place-desc{
margin-top: 15px;
line-height: 1.4;
}


.modal{
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center; /* cho item nằm giữa chiều cao của thằng cha */
    justify-content: center; /* cho item nằm giữa chiều ngang của thằng cha */
    display: none;
}

.modal .open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 980px;
    min-height: 200px;
    position: relative;
    max-width: calc(100%-32px); /*khi co lại có chiều ngang tối đa*/
    animation: modalFadeIn ease 0.5s;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 4px;
}

.modal .modal-heading-icon{
    padding-right: 16px;
}

.modal .ti-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 8px 16px;
}

.modal .ti-close:hover{
    color: black;
    background-color: #ccc;
    cursor:pointer;
    opacity: 0.8;
}

.modal .modal-body{
    padding: 16px 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
.modal-input{
    display: block;
    margin-bottom: 24px;
    padding: 8px;
    font-size: 15px;
    width: 100%;
}
#buy-ticket{
    background-color: #009688;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;

}
#buy-ticket:hover{
    background-color: #ccc;
    color: #000;
}

.modal-footer{
    padding: 16px;
    float: right;
}
.modal-footer a{
    color: #2196F3;
}

.modal.open{
    display: flex;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* CONTACT */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info a{
    color: #101aef; 
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 2;
}


.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 8px;
    border-color: 1px solid #ccc;
    width: 100%;  
}

.form-submit-btn{
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 15px;
    padding: 8px 16px;
    float: right; 
    outline: 0.3px solid blue;
}

/* Map-section */

.map-section{
    width: 100%;
}


 #footer{
    padding: 64px 16px;
    text-align: center;
 } 

 #footer .social-list{
    font-size: 24px;
}
#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    padding: 0 8px;
}
#footer .copy-right a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copy-right{
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copy-right a{
    color: rgba(0, 0, 0, 0.6);
}
